# Python
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.Trashes
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Credentials
credentials.json